*{
  margin: 0;
  padding: 0;
}

body{
    background-color: black;
    color: white;
}

.heading{
    text-align: center;
    margin-top: 20px;
}

.btn{
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 40px;
    height: 30px;
    width: 50px;
    gap: 10px;
   
}

.filters{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;   
}
